* {
  background-color: #ddd;
}

.resize-button {
  box-sizing: border-box;
  font-size: 18px;
  width: 120px;
  height: 50px;
  color: #555;
  background-color: #fff;
  border-radius: 10px;
  border: black solid 2px;
}

.etch-a-sketch-display {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin: auto;
}

.etch-a-sketch-row {
  display: flex;
  flex: auto;
  margin: 1px 0;
}

.etch-a-sketch-tile {
  background-color: #fff;
  margin: 0 1px;
  flex: auto;
}

.colored-tile {
  background-color: #555;
}
